{% extends 'CunaAngeles/administrador.html' %}
{% load staticfiles %}

{% block content %}
<center><h1>Seleccionar Expediente</h1></center>



 <div class="col-lg-8 col-lg-offset-2">
                     
                     

<div class="container">
  <br>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Escoge
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
     
      <li><a href="/expedientesreportMedico">Medico</a></li>
      <li><a href="/expedientesreportEscolar">Escolar</a></li>

    </ul>
  </div>
</div>
</div>


{% endblock %}
