{% extends 'CunaAngeles/administrador.html' %}
{% load staticfiles %}

{% block content %}

<center><h1>Expediente Escolar</h1></center>




	

<table class="table table-striped table-bordered">
		<tr>
			<th>Niño</th>
			<th>Escolaridad</th>
			<th>Tutor</th>
			<th>Hora_entrada</th>
			<th>Hora_salida</th>
			<th>comentario</th>
		
			
		</tr>
		{%for item in object_list %}
		<tr>
			<td>{{item.nino}}</td>
			<td>{{item.escolaridad}}</td>
			<td>{{item.tutor}}</td>
			<td>{{item.hora_entrada}}</td>
			<td>{{item.hora_salida}}</td>
			<td>{{item.comentario}}</td>
			
			
		</tr>

		{% endfor %}

	</table>
{% endblock %}