{% extends 'CunaAngeles/administrador.html' %}
{% load staticfiles %}

{% block content %}

<center><h1>Registro Escolar</h1></center>
 <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
<form method="POST" enctype="multipart/form-data">

	{% csrf_token %}


 	  <label>Nombre del niño:</label><select class="form-control" type="text" id="nino" name="nino" placeholder="Nombre del Niño">
      {% for item in objects_list %}
      {{item.nombre}}
    <option id="{{item.id}}">{{item.nombre}} {{item.apellidos}}</option>
    </select> <br>
    {% endfor %}
                       
    <label>Escolatidad:</label><input class="form-control" type="text" id="escolaridad" name="escolaridad" placeholder="Escolaridad"><br>
                          
    <label>Tutor:</label><input class="form-control" type="date" id="tutor" name="tutor"  placeholder="Tutor"></input><br>
    
    <label>Hora de Entrada:</label><input class="form-control" type="datetime" id="hora_entrada" name="hora_entrada"  placeholder="HH:MM:SS"></input><br>

    <label>Hora de Salida:</label><input class="form-control" type="datetime" id="hora_salida" name="hora_salida"  placeholder="HH:MM:SS"></input><br>

    <label>Comentario:</label><textarea class="form-control" rows="4" id="comentario" name="comentario"  placeholder="Comentario"></textarea>
    
    <br>

   <button type="submit" class="btn btn-primary btn-block">Guardar</button>           
   <button type="reset" class="btn btn-primary btn-block">Cancelar</button>  
    
</form>
	</div>
</div>

{% endblock %}