{% extends 'CunaAngeles/administrador.html' %}
{% load staticfiles %}

{% block content %}
<center><h1>Selecciona el inventario que deseas editar</h1></center>
<br>

<div class="row">
                <div class="col-lg-8 col-lg-offset-2">


	<table class="table table-striped table-bordered">

    <tr>
        <th>Nombre del material:</th>
       
   
    </tr>
    {% for item in object_list %}
     <tr>
        <td><a href="/update_inventario/{{item.id}}">{{item.nombre}}</a></td>
         

        
    </tr>
     {% endfor %}
</table>
</div>
</div>

{% endblock %}