{% extends 'CunaAngeles/administrador.html' %}
{% load staticfiles %}

{% block content %}
<center><h1>Selecciona el expediente "Medico"</h1></center>
<br>

<div class="row">
                <div class="col-lg-8 col-lg-offset-2">


	<table class="table table-striped table-bordered">

    <tr>
        <th>Niño:</th>
        <th>Doctor:</th>
   
    </tr>
    {% for item in object_list %}
     <tr>
        <td><a href="/update_exp_medico/{{item.id}}">{{item.nino}}</a></td>
        <td>{{ item.doctor}}</td>     

        
    </tr>
     {% endfor %}
</table>
</div>
</div>

{% endblock %}